
/* *{
  margin: 0;
  padding:0;  

} */

body{
    /* background-color:rgba(0,0,0,0.5); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("nature.png");
    background-repeat: no-repeat;
    background-size: cover;
    
   }

   

   
   .container{
    height:650px;
    width:500px;
    background:linear-gradient(135deg,rgba(196, 182, 182, 0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
     margin-top: 30px;
     position: relative;
     border-radius: 16px;
     box-shadow: 4px 4px 30px 4px;
     z-index: 0;
    
   }

   #title{
    color:white;
    animation: animate 0.45s 1s linear 3;
    text-align: center;
    font-size: 50px;
    text-shadow: 10px 10px 30px aqua ;

   }
  
   @keyframes animate{
    0%{
      transform: rotate(0deg);
    }100%{
      transform: rotate(360deg);
    }
   }
   
   #true{
    height:130px;
    width:130px;
    position: fixed;
    top:350px;
    right:70%;
   }
   #true:hover{
    border:4px solid rgb(185, 202, 185);
   }
  
   #dare{
    height:130px;
    width:130px;
    position: fixed;
    top:355px;
    left: 68%;
   }
    #dare:hover{
      border:4px solid rgb(185, 202, 185);
    }
   p{
    color:aqua;
    position:fixed;
    top:52%;
    left:41%;
    font-family: Helvetica, sans-serif;
    font-size: 47px;
    font-weight: 900;
    
   }

   /* operation on media query in galaxy note 3*/

   /* @media(min-width:360px)and (max-width:640px){
    .container{
      height:600px;
      margin-left: 1px;
      }
      body{
        background-image: url("mb.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      
   
    #title{
      position: relative;
      top:8%;
      text-shadow: 10px 10px 20px aqua;
      font-size: 30px;
    }
    #true{
       height:90px;
       width:90px;
       position: absolute;
       left:6%;
    }
    #dare{
      height:90px;
      width:90px;
      position: absolute;
      right:4%;
    }
    p{
      margin-top: 19%;
      margin-left: 2%;
      font-size: 30px;
    }

    
  } */
  
  /* Media query for Galaxy Note 3 in landscape orientation */



@media (min-width:360px) and (max-width: 1022px)  {
  
  .container{
    height: 560px;
    width:330px;
    margin-right: 15%;
    margin-left: 35px;
     position: absolute;
     bottom: 8%;
    }
    body{
      background-image: url("nature2pik.png");
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    
 
  #title{
    position: relative;
    top:8%;
    color:aqua;
    text-shadow: 10px 10px 20px aqua;
    font-size: 30px;
  }

  #true{
     height:90px;
     width:90px;
     position: absolute;
     left:6%;
  }
  #dare{
    height:90px;
    width:90px;
    position: absolute;
    right:4%;
  }

  p{
    margin-top: 19%;
    margin-left: 2%;
    font-size: 30px;
  }

}


  

  @media(min-width:375px)and (max-width:667px){
    .container{
      position:relative;
      height:600px;
      top:8%;
      right:2px;
      
    }

    #title{
      color:aqua;
      text-shadow: 4px 4px 20px white;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
    }

  }

  /* performing the operation on iphone XR */
  @media(min-width:414px)and (max-width:896px){
     .conatiner{
      height:70%;
      position: absolute;
      top:10px;
      position: absolute;
      right:20%;
     }
     #title{
      color:white;
      font-size: 28px;
      text-shadow: 10px 10px 20px aqua;
     }
  }
  /*  */
  @media(min-width:390px)and (max-width:844px){
      #title{
        animation: animate 0.45s 1s linear 3 ;
      }
      #dare{
        position: absolute;
        right:6%;

      }
      
     
  }
  @media(min-width:393px)and (max-width:851px){
     #title{
      color:blue;
      text-shadow: 10px 10px 10px white;
      font-size: 30px;
     }
  }
  
  /*  */
  @media(min-width:412px)and (max-width:915px){
    #title{
      color:white;
      font-size: 30px;
      text-shadow: 10px 10px 10px aqua;
    }
  }
  @media(min-width:820px)and (max-width:1180px){
     #title{
      margin-top: 40px;
      font-size: 40px;
     }
     
     
  }
  /*  */
  @media(min-width:768px)and (max-width:1024px){
    #title{
     margin-top: 40px;
     font-size: 40px;
    }
    
 }
 /*  */
 @media(min-width:540px)and (max-width:720px){
  #title{
   margin-top: 40px;
   font-size: 40px;
  }
  
}





  

   